<section class="gr-articles">
    {{#foreach posts}}
        <article class="gr-articles__item {{post_class}}">
            <section class="gr-articles__item-post">
                <div class="gr-articles__item-tags">{{tags}}</div>

                <header class="gr-articles__item-title">
                    <a href="{{url}}">{{title}}</a>
                </header>

                <section class="gr-articles__item-author">
                    {{#author}}
                        by <a href="{{url}}"><strong>{{name}}</strong></a>
                    {{/author}}
                    on {{date format="DD MMMM, YYYY"}}
                </section>

                <section class="gr-articles__item-excerpt">
                    {{excerpt characters="240"}}&hellip;
                </section>

                <!--<footer>-->
                    <!--{{#if author.image}}-->
                        <!--<img src="{{author.image}}" alt="{{author.name}}">-->
                    <!--{{/if}}-->

                    <!--{{author.name}}-->

                    <!--<time datetime="{{date format="YYYY-MM-DD"}}">-->
                        <!--{{date format="DD MMMM YYYY"}}-->
                    <!--</time>-->
                <!--</footer>-->
            </section>
        </article>
    {{/foreach}}
</section>

{{pagination}}
