{{!< default}}

<nav class="gr-nav gr-nav--hover">
    <a href="{{@blog.url}}">
        <img class="gr-nav__logo" src="{{@blog.logo}}" alt="{{@blog.title}}">
        <span class="gr-nav__name">{{@blog.title}}</span>
    </a>
</nav>

{{#author}}
    <header class="gr-hero">
        <section class="gr-hero__page">
            <div class="gr-hero__tags">Articles By</div>

            <h1 class="gr-hero__title">{{name}}</h1>

            <div class="gr-hero__author-info">
                {{#if location}}
                    <span>from {{location}}</span>
                {{/if}}

                {{#if website}}
                    <span><a href="{{website}}" target="_blank" rel="noreferrer">Website</a></span>
                {{/if}}
            </div>

            <div class="gr-hero__author-bio">
                {{bio}}
            </div>
        </section>
    </header>
{{/author}}

<main role="main">
    {{> "loop"}}
</main>
