<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="{{meta_description}}">

    <title>{{meta_title}} &bull; {{@blog.title}}</title>

    <link rel="stylesheet" href="{{asset "css/style.css"}}">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{{body}}}

    <footer class="gr-footer">
        <section class="gr-footer__brand">
            <div class="gr-footer__brand-logo">
                <a href="{{@blog.url}}">
                    {{#if @blog.logo}}
                        <img src="{{@blog.logo}}" alt="{{@blog.title}}" title="{{@blog.title}}">
                    {{else}}
                        {{@blog.title}}
                    {{/if}}
                </a>
            </div>
            <div class="gr-footer__brand-nav">
                <div class="gr-footer__brand-header">Navigation</div>
                {{navigation}}
            </div>
            <div class="gr-footer__brand-social">
                <div class="gr-footer__brand-header">Follow Us</div>
                <ul class="gr-footer__brand-social-list">
                    {{#if @blog.facebook}}
                        <li class="gr-footer__brand-social-list-item">
                            <a href="https://www.facebook.com/{{@blog.facebook}}">
                                <img src="{{asset "assets/img/social/facebook.svg"}}" alt="Facebook">
                            </a>
                        </li>
                    {{/if}}
                    {{#if @blog.twitter}}
                        <li class="gr-footer__brand-social-list-item">
                            <a href="https://www.twitter.com/{{@blog.twitter}}">
                                <img src="{{asset "assets/img/social/twitter.svg"}}" alt="Twitter">
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </section>
        <hr>
        <section class="gr-footer__copyright">
            &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a>.
            <span class="gr-footer__poweredby">
                Proudly published with <a href="https://ghost.org">Ghost</a>
            </span>
        </section>
    </footer>

    {{ghost_foot}}
</body>
</html>
