{{!< default}}

{{#post}}
    <nav class="gr-nav gr-nav--hover">
        <a href="{{@blog.url}}">
            <img class="gr-nav__logo" src="{{@blog.logo}}" alt="{{@blog.title}}">
            <span class="gr-nav__name">{{@blog.title}}</span>
        </a>
    </nav>

    <header class="gr-hero{{#if image}} gr-hero--cover{{/if}}">
        {{#if image}}
            <div class="gr-hero__cover" style="background-image: url({{image}})"></div>
            <div class="gr-hero__overlay"></div>
        {{/if}}

        <section class="gr-hero__post">
            <div class="gr-hero__tags">{{tags}}</div>

            <h1 class="gr-hero__title">{{title}}</h1>

            <section class="gr-hero__author">
                {{#author}}
                    <figure class="gr-hero__author-image">
                        {{#if image}}
                            <a href="{{url}}">
                                <img src="{{image}}" alt="{{name}}'s Picture" title="{{name}}'s Picture">
                            </a>
                        {{/if}}

                        <div class="gr-hero__author-name">
                            by <a href="{{url}}">{{name}}</a>
                        </div>
                    </figure>
                {{/author}}

                <time datetime="{{date format="YYYY-MM-DD"}}">
                    on {{date format="DD MMMM, YYYY"}}
                </time>
            </section>
        </section>
    </header>

    <main class="gr-content" role="main">
        <article class="gr-content__post {{post_class}}">
            {{content}}
        </article>

        <footer class="gr-content__author">
            {{#author}}
                <figure class="gr-content__author-image">
                    {{#if image}}
                        <a href="{{url}}">
                            <img src="{{image}}" alt="{{name}}'s Picture" title="{{name}}'s Picture">
                        </a>
                    {{/if}}
                </figure>

                <section class="gr-content__author-info">
                    <h4 class="gr-content__author-info-name">
                        <a href="{{url}}">{{name}}</a>
                    </h4>

                    {{#if location}}
                        <span class="gr-content__author-info-meta">from {{location}}</span>
                    {{/if}}
                    {{#if website}}
                        <span class="gr-content__author-info-meta"><a href="{{website}}">Website</a></span>
                    {{/if}}

                    {{#if bio}}
                        <p class="gr-content__author-info-bio">
                            {{bio}}
                        </p>
                    {{/if}}
                </section>
            {{/author}}
        </footer>
    </main>

    <aside class="gr-read-next">
        {{#next_post}}
            <a class="gr-read-next__next" href="{{url}}">
                <div class="gr-read-next__label">Next</div>
                <div class="gr-read-next__title">{{title}}</div>
            </a>
        {{/next_post}}

        {{#prev_post}}
            <a class="gr-read-next__prev" href="{{url}}">
                <div class="gr-read-next__label">Previous</div>
                <div class="gr-read-next__title">{{title}}</div>
            </a>
        {{/prev_post}}
    </aside>
{{/post}}
